<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,minimal-ui,viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#if isProd}}
  <title>Carpe Dalan</title>
  {{else}}
  <title>Carpe DEV</title>
  {{/if}}
  <meta name="description" content="The Dalan family app" />
  <link rel="preconnect" href="//{{assetDomain}}">
  <link rel="preconnect" href="//{{cdnDomain}}">
  <link rel="preload" href="//{{assetDomain}}/lobster.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="//{{assetDomain}}/montserrat-regular-webfont.woff2" as="font" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="//{{assetDomain}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//{{assetDomain}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//{{assetDomain}}/favicon-16x16.png">
  <link rel="manifest" crossorigin="anonymous" href="//{{assetDomain}}/manifest.webmanifest">
  <link rel="manifest" crossorigin="anonymous" href="//{{assetDomain}}/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="mask-icon" href="//{{assetDomain}}/safari-pinned-tab.svg" color="#d55ba6">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-TileImage" content="//{{assetDomain}}/mstile-144x144.png">
  <meta name="theme-color" content="#fbbfff">
</head>
<body>
  <noscript>
    <style>
        @font-face {
          font-family: 'lobster';
          src: url('//{{assetDomain}}/lobster.woff2') format('woff2'),
              url('//{{assetDomain}}/lobster.woff') format('woff');
          font-weight: normal;
          font-style: normal;
        }
      html, body, .noscript {
        height: 100%;
        width: 100%;
        margin: 0;
      }
      .noscript {
        font-family: lobster, Arial, Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 36px;
      }
    </style>
    <div class="noscript">To use Carpedalan.com, please enable JavaScript.</div>
  </noscript>
  <section id="root"></section>
  <aside id="modal"></aside>
  <script>
    var __SESSION__ = {{{session}}};
    var __META__ = {{{meta}}};
    var __PUBLIC_PATH__ = '//{{assetDomain}}/';
  </script>
  {{#if clientAssets}}
    {{#each clientAssets}}
    <script type="text/javascript" src="//{{../assetDomain}}/{{this}}"></script>
    {{/each}}
  {{else}}
  <script type="text/javascript" src="//local.carpedalan.com/build/library/library.dll.js"></script>
  <script type="text/javascript" src="//local.carpedalan.com/dist/client.bundle.js"></script>
  {{/if}}
  {{#if isProd}}
  {{#unless ci}}
  <!-- Baller.v3 -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- Branch: {{branch}} - Job: {{buildNum}} - sha1 = {{sha1}}-->
  {{!-- <script async src="//www.googletagmanager.com/gtag/js?id=UA-133308117-1"></script> --}}
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133308117-1');
  </script>
  {{/unless}}
  {{/if}}
</body>
</html>

